
<div class="page-content">
  <img class="flying-burrito" src="imgs/burrito_blank.png" height="250px"/>
  <div class="burrito-me">
    <h3 class="cta">Get A burrito delivered to you right now</h3>
    <div class="order-btn" id="order">
      <p class="btn-text">Order Now</p>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.getElementById('order').onclick = function () {
    alert('Sorry, there are no actual burritos.');
    };
</script>
