<div class="page-content">
  <div class="burrito-me">
    <h3 class="cta">Congratulations! Your <strong>burrito</strong> is on its way.</h3>
  </div>
  <div class="order-btn" id="order-another">
    <p class="btn-text">Order Another Burrito</p>
  </div>
</div>

<script type="text/javascript">
  document.getElementById('order-another').onclick = function () {
    location.replace('/')
    };
</script>


