<p>Hello</p>

<div class="test">
  <img class="leftWing" src="imgs/wing.png" />
  <img class="burrito" src="imgs/burritoClear.png" alt="" />
  <img class="rightWing" src="imgs/wing.png" />
</div>

<link rel="stylesheet" href="styles/burrito_flying.css">
