<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>I Want A Burrito Dot Com</title>
    <link rel="stylesheet" href="Assets/Styles/test.css">
</head>
<body style="background-color: green">
    <h1>I Want a Burrito Dot Com</h2>
    <%= yield %>
</body>
