<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>I Want A Burrito Dot Com</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|ZCOOL+QingKe+HuangYou" rel="stylesheet">
</head>
<body>
    <div class="margin">
        <div class="hero"> 
            <h1 class="hero-text">I Want a Burrito Dot Com</h1>
        </div>
        <%= yield %>
    </div>
</body>
