<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>I Want A Burrito Dot Com</title>
    <link rel="stylesheet" href="Assets/Styles/test.css">
</head>
<body>
    <h2>I Want a Burrito Dot Com</h2>
    <%= yield %>
    <script src="Assets/Scripts/test.js"></script>
</body>


<script type="text/javascript">
  document.getElementById('order').onclick = function () {
    alert('Sorry, there are no actual burritos.');
    };
</script>