@keyframes falling-burrito {
  from {top: 40; left: 20; transform: none;}
  to {top: 200; left: 150; transform: rotate(90deg);}
}

body {
  background-color: #f7f7f7; 
  color: #1c1c1c;
}

.margin {
  margin: 0 auto;
  text-align: center;
}

.hero {
  color:  #4286f4;
  font-weight: 600;
  height: 130px;
}

.hero-text {
  font-size: 3.0em;
  padding-top: 38px;
  text-transform: uppercase;
}

img.flying-burrito {
  position: absolute;
  height: 600px;
  left: 150;
  top: 200;
  transform: rotate(90deg);
  z-index: -1;
  animation-name: falling-burrito;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

.order-btn {
  background-color: #cc7e02;
  margin: 0 auto;
  padding: 7px;
  width: 180px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
}

.order-btn:hover {
  background-color: #4286f4;
}

.order-btn .btn-text {
  color: #f7f7f7;
  font-size: 1.6em;
}