body {
  background-color: #f7f7f7; 
  color: #1c1c1c;
}

.margin {
  margin: 0 auto;
  text-align: center;
}

.hero {
  color:  #4286f4;
  height: 130px;
}

.hero-text {
  font-size: 3.0em;
  padding-top: 38px;
  text-transform: uppercase;
}

img.flying-burrito {
  padding: 60px 0;
}

.order-btn {
  background-color: #cc7e02;
  margin: 0 auto;
  padding: 7px;
  width: 180px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
}

.order-btn:hover {
  background-color: #4286f4;
}

.order-btn .btn-text {
  color: #f7f7f7;
  font-size: 1.6em;
}