@keyframes falling-burrito {
  0% {transform: none; height: 300px; opacity: 0;}
  50% {opacity: 1}
  100% {transform: rotate(90deg);  height: 700px;}
}

body {
  background-color: #f7f7f7; 
  color: #1c1c1c;
  font-family: 'Montserrat', sans-serif;
}

strong {
  color: #347c15;
  font-size: larger
}

.margin {
  margin: 0 auto;
  text-align: center;
}

.hero {
  height: 130px;
  padding-bottom: 24px;
}

.hero-text {
  color:  #4286f4;
  position: relative;
  font-size: 3.0em;
  padding-top: 38px;
  text-transform: uppercase;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  max-width: 500px;
  margin: 0 auto;
}

.hero-text:after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10px;
  border-width: 0 0 5px;
  border-style: solid;
  border-color: red;
}

.cta {
  padding-bottom: 20px;
}

img.flying-burrito {
  transform: rotate(90deg);
  z-index: -1;
  animation-name: falling-burrito;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  margin-top: -60px;
  height: 700px;
  transition: height 100ms;
  transition: transform 100ms;
}

.order-btn {
  background-color: #cc7e02;
  margin: 0 auto;
  padding: 5px;
  width: 180px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
}

.order-btn:hover {
  background-color: #4286f4;
}

.order-btn:hover {
  background-color: #4286f4;
}

.order-btn .btn-text {
  color: black;
  font-size: 1.9em;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.order-btn:hover > .btn-text {
  color: white;
}

.order-btn:hover + img.flying-burrito {
  transform: rotate(85deg);
}